In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
travel=pd.read_csv("/content/Dataset.csv")
print(travel)

         TripID RouteID  StopID                    StopName WeekBeginning  \
0         23631     100   14156                181 Cross Rd    30-06-2013
1         23631     100   14144                177 Cross Rd    30-06-2013
2         23632     100   14132                175 Cross Rd    30-06-2013
3         23633     100   12266  Zone A Arndale Interchange    30-06-2013
4         23633     100   14147                178 Cross Rd    30-06-2013
...         ...     ...     ...                         ...           ...
1048570   45682     171   13929              8 Fullarton Rd    29-09-2013
1048571   45682     171   13758            3 Glen Osmond Rd    29-09-2013
1048572   45682     171   13967              9 Fullarton Rd    29-09-2013
1048573   45682     171   13808              5 Fullarton Rd    29-09-2013
1048574   45682     171   13845              6 Fullarton Rd    29-09-2013

         NumberOfBoardings
0                        1
1                        1
2                        1
3                        2
4                        1
...                    ...
1048570                  2
1048571                  3
1048572                  1
1048573                  1
1048574                  3

[1048575 rows x 6 columns]

<ipython-input-22-cd145828754a>:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  travel=pd.read_csv("/content/Dataset.csv")

In [ ]:
print(travel.head)

<bound method NDFrame.head of          TripID RouteID  StopID                    StopName WeekBeginning  \
0         23631     100   14156                181 Cross Rd    30-06-2013
1         23631     100   14144                177 Cross Rd    30-06-2013
2         23632     100   14132                175 Cross Rd    30-06-2013
3         23633     100   12266  Zone A Arndale Interchange    30-06-2013
4         23633     100   14147                178 Cross Rd    30-06-2013
...         ...     ...     ...                         ...           ...
1048570   45682     171   13929              8 Fullarton Rd    29-09-2013
1048571   45682     171   13758            3 Glen Osmond Rd    29-09-2013
1048572   45682     171   13967              9 Fullarton Rd    29-09-2013
1048573   45682     171   13808              5 Fullarton Rd    29-09-2013
1048574   45682     171   13845              6 Fullarton Rd    29-09-2013

         NumberOfBoardings
0                        1
1                        1
2                        1
3                        2
4                        1
...                    ...
1048570                  2
1048571                  3
1048572                  1
1048573                  1
1048574                  3

[1048575 rows x 6 columns]>

In [ ]:
display(travel.drop_duplicates())

,TripID,RouteID,StopID,StopName,WeekBeginning,NumberOfBoardings
0,23631,100,14156,181 Cross Rd,30-06-2013,1
1,23631,100,14144,177 Cross Rd,30-06-2013,1
2,23632,100,14132,175 Cross Rd,30-06-2013,1
3,23633,100,12266,Zone A Arndale Interchange,30-06-2013,2
4,23633,100,14147,178 Cross Rd,30-06-2013,1
...,...,...,...,...,...,...
1048570,45682,171,13929,8 Fullarton Rd,29-09-2013,2
1048571,45682,171,13758,3 Glen Osmond Rd,29-09-2013,3
1048572,45682,171,13967,9 Fullarton Rd,29-09-2013,1
1048573,45682,171,13808,5 Fullarton Rd,29-09-2013,1
1048574,45682,171,13845,6 Fullarton Rd,29-09-2013,3

In [ ]:
print(travel.head)

<bound method NDFrame.head of          TripID RouteID  StopID                    StopName WeekBeginning  \
0         23631     100   14156                181 Cross Rd    30-06-2013
1         23631     100   14144                177 Cross Rd    30-06-2013
2         23632     100   14132                175 Cross Rd    30-06-2013
3         23633     100   12266  Zone A Arndale Interchange    30-06-2013
4         23633     100   14147                178 Cross Rd    30-06-2013
...         ...     ...     ...                         ...           ...
1048570   45682     171   13929              8 Fullarton Rd    29-09-2013
1048571   45682     171   13758            3 Glen Osmond Rd    29-09-2013
1048572   45682     171   13967              9 Fullarton Rd    29-09-2013
1048573   45682     171   13808              5 Fullarton Rd    29-09-2013
1048574   45682     171   13845              6 Fullarton Rd    29-09-2013

         NumberOfBoardings
0                        1
1                        1
2                        1
3                        2
4                        1
...                    ...
1048570                  2
1048571                  3
1048572                  1
1048573                  1
1048574                  3

[1048575 rows x 6 columns]>

In [ ]:
travel.isnull().sum()

TripID               0
RouteID              0
StopID               0
StopName             0
WeekBeginning        0
NumberOfBoardings    0
dtype: int64

In [ ]:
travel.to_csv('preprocessed_dataset.csv', index=False)